<mat-card class="mat-typography example-card">
  <mat-card-header class="header">
      <div mat-card-avatar class="example-header-image"></div>
    <div class="text">
      <p class="mat-display-2">Shiba Inu</p>
      <p class="mat-headline">Dog Breed</p>
      <p class="mat-headline">Dog Breed</p>
    </div>
  </mat-card-header>
  <mat-card-content class="mat-display-1 content">
    <p class="mat-headline">Company A</p>
    <p class="mat-headline">123 Rua dos Bobos, Cornélio Procópio, Paraná</p>
    <p class="mat-headline">(xx) xxxx-xxxx</p>
  </mat-card-content>
  <h1>Comments:</h1>
  <mat-card-content class="mat-headline">
    <h2>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </h2>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn" style="background-color: #72a8ff" mat-button>EDIT</button>
    <button class="btn" style="background-color: #ff3030" mat-button>DELETE</button>
  </mat-card-actions>
</mat-card>
