.example-card {
  margin: 0;
  padding-top: 0.5em;
}

.header {
  justify-content: center;
}

.mat-display-2 {
  margin-bottom: 0.7em;
}

.text {
  display: block;
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: normal;
}

.example-header-image {
  height: 15em;
  width: 15em;

  background-size: cover;
}

.content {
  text-align: center;
  align-content: center;
  border-top: 1px solid #c1bdc1;
  border-bottom: 1px solid #c1bdc1;
  margin: 2% auto;
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 70%;
}

.btn {
  font-size: 15pt;
}

img{
  width: 210px;
  height: 210px;
}

@media only screen and (max-width: 600px) {
  .header {
    display: block;
  }
  .example-header-image {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 12em;
  }

  img{
    width: 10em;
    height: 10em;
  }
}

