<form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Personal Data</h2>
  <img [src]="image" style="width: 15%; cursor: pointer" (click)="changeImg()"/>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="firstName" required />
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Surname" formControlName="lastName" required />
      <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
    </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender"  formControlName="gender">
      <mat-option value="m">Male</mat-option>
      <mat-option value="f">Female</mat-option>
    </mat-select>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-mail" formControlName="email" required />
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <h2>Professional Data</h2>
  <mat-form-field formGroupName="info">
    <input matInput placeholder="Phone Number" formControlName="phone"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field formGroupName="info">
    <input matInput placeholder="Company" formControlName="company"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field formGroupName="info">
    <input matInput placeholder="Address" formControlName="address"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <h2>Annotation</h2>
  <mat-form-field appearance="outline" formGroupName="info">
    <textarea matInput placeholder="Comments" rows="5" formControlName="comments"></textarea>
  </mat-form-field>

  <button class="btn" type="submit" style="background-color: #caabea" mat-button>SAVE</button>
</form>
