<form class="example-container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Personal Data</h2>
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" required />
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Surname" formControlName="surname" required />
      <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
    </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Gender"  formControlName="gender">
      <mat-option value="m">Male</mat-option>
      <mat-option value="f">Female</mat-option>
    </mat-select>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-mail" formControlName="email" required />
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone Number" formControlName="phone"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <h2>Address</h2>
  <mat-form-field>
    <input matInput placeholder="Company" formControlName="company"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Street" formControlName="street"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Number" formControlName="number"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="State" formControlName="state"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="City" formControlName="city"/>
    <mat-error *ngIf="form.invalid">Invalid Field</mat-error>
  </mat-form-field>

  <h2>Annotation</h2>
  <mat-form-field appearance="outline">
    <textarea matInput placeholder="Comments" rows="5" formControlName="comment"></textarea>
  </mat-form-field>

  <button class="btn" type="submit" style="background-color: #caabea" mat-button>SAVE</button>
</form>
